.form {
  width: 30%;
  padding: 2%;
}
.err {
  color: red;
}
fieldset {
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
}
input {
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  min-height: 80px;
}
